[settings]
known_third_party = filelock,gdown,networkx,nox,numpy,pandas,pytest,requests,rich,scipy,sklearn,tqdm
multi_line_output=3
include_trailing_comma=true
balanced_wrapping=true
line_length=120
profile=black
