[settings]
known_third_party = GPUtil,anndata,fastdtw,filelock,gdown,gudhi,loguru,networkx,nox,numpy,ot,pandas,psutil,pytest,requests,rich,scanpy,scipy,skbio,skimage,sklearn,torch,torch_geometric,tqdm,yaml
multi_line_output=3
include_trailing_comma=true
balanced_wrapping=true
line_length=120
profile=black
