[settings]
known_third_party = GPUtil,anndata,filelock,gdown,networkx,nox,numpy,pandas,psutil,pytest,requests,rich,scanpy,scipy,sklearn,torch,tqdm,yaml
multi_line_output=3
include_trailing_comma=true
balanced_wrapping=true
line_length=120
profile=black
