Sphinx>=4.0.1
sphinx_rtd_theme>=0.5.2
sphinx-rtd-dark-mode>=1.2.1
sphinx-automodapi>=0.13
sphinx_click>=3.0.0
click>=8.0.1
nbsphinx>=0.8.9
pandoc>=2.2
IPython>=8.4.0

# Below are from pyproject.toml. Needed for auto-doc
PyYAML>=5.2
pandas>=0.25.3
numpy>=1.17.4
networkx>=2.4
requests>=2.22.0
tqdm>=4.37.0